.moreDetailsBtn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: black;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}

.moreDetailsBtn:hover {
  background: rgb(61, 106, 255);
  color: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  transition: all 0.2s ease-out;
}

.moreDetailsBtn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

.moreDetailsBtn:hover::before {
  animation: sh02 0.5s 0s linear;
}

/* Cancel Button Styles */
.cancelBtn {
  border-color: red;
  color: black;
}

.cancelBtn:hover {
  background: red;
  color: #fff;
  box-shadow: 0 0 30px 5px rgba(255, 0, 0, 0.815);
}

/* Update Button Styles */
.updateBtn {
  border-color: yellow;
  color: yellow;
}

.updateBtn:hover {
  background: yellow;
  color: black;
  box-shadow: 0 0 30px 5px rgba(255, 255, 0, 0.815);
}

/* Submit Button Styles */
.submitBtn {
  border-color: green;
  color: black;
}

.submitBtn:hover {
  background: green;
  color: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 255, 0, 0.815);
}

/* Purple Button Styles */
.isPurple {
  border-color: #6f5cc4; /* Purple border */
  color: #6f5cc4; /* Purple text color */
}

.isPurple:hover {
  background: #6f5cc4; /* Purple background on hover */
  color: #fff; /* White text on hover */
  box-shadow: 0 0 30px 5px rgba(111, 92, 196, 0.815); /* Purple shadow */
}

/* Disabled Button Styles */
.moreDetailsBtn:disabled {
  background-color: #d3d3d3; /* Light grey background */
  color: #a9a9a9; /* Grey text color */
  border-color: #d3d3d3; /* Grey border */
  cursor: not-allowed; /* Cursor changes to 'not-allowed' */
  box-shadow: none; /* No shadow when disabled */
}
