.UsePrimaryBtn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #006d77;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: black;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}

.UsePrimaryBtn:hover {
  background: #006d77;
  color: #fff;
  box-shadow: 0 0 30px 5px #02919e;
  transition: all 0.2s ease-out;
}

.UsePrimaryBtn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

.UsePrimaryBtn:hover::before {
  animation: sh02 0.5s 0s linear;
}

/* Logout Button Styles */
.logoutBtn {
  border-color: 1px solid black;
  color: black;
}

.logoutBtn:hover {
  background: red;
  color: #fff;
  border: 1px solid red;
  box-shadow: 0 0 30px 5px rgba(255, 0, 0, 0.815);
}

/* Cancel Button Styles */
.cancelBtn {
  border-color: red;
  color: red;
}

.cancelBtn:hover {
  background: red;
  color: #fff;
  box-shadow: 0 0 30px 5px rgba(255, 0, 0, 0.815);
}

/* Update Button Styles */
.updateBtn {
  border-color: yellow;
  color: yellow;
}

.updateBtn:hover {
  background: yellow;
  color: black;
  box-shadow: 0 0 30px 5px rgba(255, 255, 0, 0.815);
}

/* Disabled Button Styles */
.UsePrimaryBtn:disabled {
  background-color: #d3d3d3; /* Light grey background */
  color: #a9a9a9; /* Grey text color */
  border-color: #d3d3d3; /* Grey border */
  cursor: not-allowed; /* Cursor changes to 'not-allowed' */
  box-shadow: none; /* No shadow when disabled */
}
